.SkillComponent{
    width: 65%;
    height: 6vh;
    box-sizing: border-box;
    text-align: center;
}

.SkillList{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}
