.SkillComponent{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

.SkillList{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 700px) {
    .SkillList{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0;
    }
}
