@keyframes containerComp {
  from {
    width: 30%;
  }
  to {
    width: 90%;
  }
}

.ContainerComp {
  width: 90%;
  height: 35px;
  background-color: lightgrey;
  display: flex;
  margin: 10px auto;
  color: white;
  animation-name: containerComp;
  animation-duration: 3s;
}

.NameComp {
  width: 15%;
  height: 100%;
  background-color: #bf0350;
  text-align: center;
  padding: 6px;
}

.PercentageComp {
  height: 100%;
  background-color: #db1967;
  text-align: center;
}

.RestPercentage {
  width: auto;
  height: 100%;
  background-color: lightgrey;
  text-align: end;
  padding: 8px;
}

.RestPercentage p {
  font-size: 10px;
}

@media (max-width: 700px) {
  .NameComp {
    font-size: 12px;
  }

  .NameComp p {
    margin: 11px;
  }
}

@media (max-width: 480px) {
  .NameComp {
    font-size: 11px;
  }

  .NameComp p {
    margin: 0px;
  }

  .RestPercentage p {
    font-size: 11px;
  }
}
