
.AboutContainer{
    height: 100vh;
    position: relative
}

.DivContainer{
    display: flex;
}

@media (max-width: 700px) {
    .AboutContainer{
        height: auto
    }

        
    .DivContainer{
        display: block;
    }
}