.SkillComponent {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
}

.SkillList {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 700px) {
  .SkillComponent {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
